*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;

}
body{
  background-color: #ccc;
}
.container {
  width: 40%;
  margin-top:2.5%;
  margin-left: 25%;
  margin-right: 30%;
  background-color: white;
  display: grid;
  justify-content: center;
  align-items: center;
  position: relative;
 
}

#result {
   margin-bottom: 20px;
   margin-top: 20px;
   padding: 10px;
   border-radius: 3px;
   width: 317.6px;

   
  
   
 }
.container ul img{
  width: 60px;
  height: 60px;
}
.container ul{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.list-1 {
  margin-right: 50px;
}
.container select{
  display: grid;
}
/*.container form{
  margin: 20px;
  width: 400px;
  height: 500px;
}*/

input[type="number"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  border-color: blue;
  width: 300px;
  margin-bottom: 30px;
  margin-top: 30px;
}

select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  border-color: blue;
  background-color: #f1f1f1;
  width: 317px;
  
}

.custom-button {
  background-color: #4CAF50; /* Set the background color */
  border: none; /* Remove the default button border */
  color: white; /* Set the text color */
  padding: 10px 20px; /* Set the padding */
  text-align: center; /* Center the text horizontally */
  text-decoration: none; /* Remove underline on the text */
  display: inline-block; /* Display the button as an inline element */
  font-size: 16px; /* Set the font size */
  cursor: pointer; /* Add a cursor on hover */
  border-radius: 4px; /* Add rounded corners */
  margin-top: 50px;
  width: 50%;
  margin-left:85px;
  margin-bottom: 50px;
  
}

.custom-button:hover {
  background-color: #45a049; /* Change the background color on hover */
}
a {
  display:grid;
  margin-left: 110px;
  margin-bottom: 20px;
  color:red;
}
#heading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20%;
  margin-right: 30%;
 
}

@media screen and (max-width: 600px){
  .container {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }

  input[type="number"],
  select {
    width: 100%;
  }

  .custom-button {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}