{% extends 'base.html' %} {% load static%} {%block content%}
<section class="image-section">
  <img src="{% static 'images/UI_image.webp' %}" alt="My Image" />
  <div class="image-text">
    <h1>Intelligent Diet Planner - Eat smart, Live Brillaintly</h1><br><br>
    
    <p>
      Welcome to Intelligent Diet Planner! We're here to empower greatness
      within you through accessible, enjoyable, and sustainable nutrition. Let's
      fuel your fitness journey with innovative meal plans, supporting muscle
      recovery. Remember, "The food you eat can be either the safest and most
      powerful form of medicine or the slowest form of poison. <br><br> Together, we'll
      achieve your wellness goals!
    </p>
    <br /><br /><br /><br /><br />
    <a id="start" href="{% url 'main' %}">Get Started?</a>
  </div>
</section>

{% endblock content%}
